@import '../_variable.scss';

%textColor {
  .currentText {
    color: $current-color;
  }

  .selectedText {
    color: $selected-color;
  }

  .extraneousText{
    color: $text-light-color;
  }

  .regularText {
    color: $text-solid-color;
  }
}

.calendarBoxConnect {
  width: 40%;
  height: 45%;
}

.monthYearChooserContainer {
  @extend %textColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  margin: 8px;

  svg {
    @extend %clickable;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  margin: 15px 8px 8px 8px;

  .cell {
    @extend %textColor;
    @extend %clickable;
    text-align: center;
    cursor: pointer;
  }
}