@import "../../../variable";

.newEventContainer{
  .headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
      color: $text-solid-color;
    }
  }
}

.eventViewerContainer{
  // no left margin since this class is in a container with 10px margin already
  margin: 0 10px 10px 0;
  box-shadow: 3px 3px 3px #1a1a1a;
  border-top: #1a1a1a 1px solid;
  border-left: #1a1a1a 1px solid;
  padding: 5px;
  flex-grow: 2;
  overflow-y: auto;
}

.event-view {
  margin-top: .5rem;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: $hover-background-color;
  }
  padding: 5px;
  user-select: none;
}

.event-time {
  display: inline-block;
  width: 20%;
  height: 100%;
  color: $text-solid-color;
  background-color: $foreground-color;
}

.event-brief-overview {
  display: inline-block;
  width: 80%;
  color: $text-solid-color;
  height: 100%;
  background-color: $foreground-color;
}