.event-view {

}

.event-time {
  display: inline-block;
  width: 20%;
  background-color: red;
  height: 100%;
}

.event-brief-overview {
  display: inline-block;
  width: 80%;
  background-color: blue;
  height: 100%;
}