#whole-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left-wrapper{
    flex-grow: 2;
}

#right-wrapper{

}

#calendar-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
}