.header-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.header-wrapper h5, .header-wrapper Button{
    margin: 0;
    padding: 0 .5em;
}

.add-event-button{
    align-self: flex-end;
    height: 22px;
}