#top-level{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.top-header-label{
    align-self: center;
    margin: 0;
    flex-grow: 2;
    text-align: center;
}

#user-input-container{
    margin: 1em;
    display: grid;
    grid-template-columns: 3em 3em auto;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: .25em;
}

.input-label{
    display: inline;
    margin: 0 1em 0 0;
    align-self: center;
}

#title-input{
    grid-column-start: 2;
    grid-column-end: span 2;
}

#date-start-label{
    grid-column-start: 1;
    grid-column-end: span col2;
}

#date-end-label{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
}

#second-selected-date-label{
    grid-column-start: 3;
}